body {
    background-color: #1E1E1E;

    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
}
/* Classes for Top Navbar */
.navLogo {
    font-size: 50px;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}
.nav-font-size{
    font-size: 38px;
}
.underline{
    text-decoration: underline;
}
/* End of Top Navbar classes */
/* classes for Hero images */
.gridHome{
    display: grid;
    grid-template-columns: 1fr;
}
.gridHome img{
    grid-column: 1;
    grid-row: 1;
}
.hero-bg-color{
    background-color:rgba(0, 0, 0, 45%);
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    font-size: 64px;
}
@media (max-width: 800px)
{
    .hero-text
    {
        font-size: 40px;
    }
}
@media (max-width: 500px)
{
    .hero-text{
        font-size: 24px;
    }
}
/* End of classes for hero images */