body {
    background-color: #1E1E1E;

    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
}
/* Classes for Top Navbar */
.navLogo {
    font-size: 50px;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}
.nav-font-size{
    font-size: 38px;
}
.underline{
    text-decoration: underline;
}
/* End of Top Navbar classes */
/* classes for Hero images */
.gridHome{
    display: grid;
    grid-template-columns: 1fr;
}
.gridHome img{
    grid-column: 1;
    grid-row: 1;
}
.hero-bg-color{
    background-color:rgba(0, 0, 0, 45%);
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    font-size: 64px;
}
@media (max-width: 800px)
{
    .hero-text
    {
        font-size: 40px;
    }
}
@media (max-width: 500px)
{
    .hero-text{
        font-size: 24px;
    }
    .navLogo {
    font-size: 24px;
    }
    .nav-font-size{
        font-size: 20px;
    }
}
/* End of classes for hero images */
.footergrid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    background-color: rgba(rgb(0, 0, 0),);
    margin-bottom: 3rem;
}
.footergrid p{
    margin: 0;
    padding: 0;
}
.address{
    grid-column: 2 / 5;
    grid-row: 1;
    color: white;
    
}
.hours{
    grid-column: 6 / 8;
    grid-row: 1;
    color: white;
}
@media (max-width: 800px)
{
    .hero-text
    {
        font-size: 40px;
    }
}
@media (max-width: 500px)
{
    .hero-text{
        font-size: 24px;
    }
        .address{
        grid-row: 1 ;
        grid-column: 2 / 8;
    }
    .hours{
        grid-row: 2 ;
        grid-column: 2/ 8;
        text-align: center;
    }
}

/* Menu Classes START */
.menu-items{
    font-size: 40px;
}
.menu-desc{
    font-size: 25px;
}