.footergrid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}
.address{
    grid-column: 2 / 5;
    grid-row: 1;
    
}
.hours{
    grid-column: 6 / 8;
    grid-row: 1;
}