body {
    background-color: #1E1E1E;

    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
}

.navLogo {
    font-size: 50px;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}
.nav-font-size{
    font-size: 38px;
}
.underline{
    text-decoration: underline;
}
.gridHome{
    display: grid;
    grid-template-columns: 1fr;
}
.gridHome img{
    grid-column: 1;
    grid-row: 1;
}
.hero-bg-color{
    background-color:rgba(196, 196, 196, 45%);
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
